!Configuration Built on {{ now }}

configure terminal
!
{% for vlan in vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name|replace(" ","_")|upper }}
exit
!
{% endfor %}
{% for vlan in vlans %}
interface vlan {{ vlan.id }}
 ip address {{ vlan.ipaddr }} {{ vlan.mask }}
 description *** {{ vlan.name|upper }} ***
 {% if vlan.helper_addr|string != "nan" %}
 ip helper-address {{ vlan.helper_addr }}
 {% endif %}
 no shutdown
exit
!
{% endfor %}
end
!
!copy running-config startup-config !Uncomment first
